#page-mine {
    padding-top: 10%;
    text-align: center;
    .avatar {
        height: 100px;
        width: 100px;
        border-radius: 100%;
        background-size: cover;
        background-image: url(http://ww2.sinaimg.cn/mw690/61ca8acdgw1fbkfr9mjtij20go0b440g.jpg);
        margin: 0 auto 5%;
    }
}
